@{
    ViewData["Title"] = "Home Page";
}

<div><img src="~/images/logo.jpg" /></div>
<table>
    <tr>
        <th><h1>Action</h1></th>
        <th><h1>Link</h1></th>
    </tr>
    <tr>
        <td><h3>ROOMS</h3></td>
        <td><h3>@Html.ActionLink("Get", "GetRooms", "Main")</h3></td>
        <td><h3>@Html.ActionLink("Add", "AddRoom", "Main")</h3></td>
    </tr>
    <tr>
        <td><h3>SERVICE TYPES</h3></td>
        <td><h3>@Html.ActionLink("Get", "GetServiceTypes", "Main")</h3></td>
        <td><h3>@Html.ActionLink("Add", "AddServiceType", "Main")</h3></td>
        <td></td>
    </tr>
    <tr>
        <td><h3>EMPLOYEES</h3></td>
        <td><h3>@Html.ActionLink("Get", "GetEmployees", "Main")</h3></td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/nav.html">In HTML</a></td>
        <td></td>
    </tr>
</table>